section.c-section.c-companies
  .container
    .row.justify-content-center
      .col-md-8.u-text-center
        h2.c-section__title Yüzlerce Mutlu Müşteri
      .col-md-6.u-text-center
        p.c-section__description
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis eget lorem non pretium. Morbi condimentum maximus tellus.
    .row
      .col-md-12.u-text-center
        ul.c-companies__list
          li.c-companies__list-item
            a(href="#")
              svg.icon.icon-instagram
                use(xlink:href='#icon-instagram')
          li.c-companies__list-item
            a(href="#")
              svg.icon.icon-facebook
                use(xlink:href='#icon-facebook')
          li.c-companies__list-item
            a(href="#")
              svg.icon.icon-twitter
                use(xlink:href='#icon-twitter')
          li.c-companies__list-item
            a(href="#")
              svg.icon.icon-youtube
                use(xlink:href='#icon-youtube')
          li.c-companies__list-item
            a(href="#")
              svg.icon.icon-whatsapp
                use(xlink:href='#icon-whatsapp')
          li.c-companies__list-item
            a(href="#")
              svg.icon.icon-linkedin
                use(xlink:href='#icon-linkedin')
          li.c-companies__list-item
            a(href="#")
              svg.icon.icon-google-plus
                use(xlink:href='#icon-google-plus')
          li.c-companies__list-item
            a(href="#")
              svg.icon.icon-snapchat
                use(xlink:href='#icon-snapchat')
          li.c-companies__list-item
            a(href="#")
              svg.icon.icon-android
                use(xlink:href='#icon-android')
          li.c-companies__list-item
            a(href="#")
              svg.icon.icon-skype
                use(xlink:href='#icon-skype')
          li.c-companies__list-item
            a(href="#")
              svg.icon.icon-wordpress
                use(xlink:href='#icon-wordpress')
          li.c-companies__list-item
            a(href="#")
              svg.icon.icon-pinterest
                use(xlink:href='#icon-pinterest')
