section.c-section.c-main-header
  .container
    .row.justify-content-center
      .col-md-8.u-text-center
        h1.c-section__title Yaratıcı ekibiniz için  en hızlı geri bildirim aracı 
      .col-md-6.u-text-center
        p.c-section__description
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis eget lorem non pretium. Morbi condimentum maximus tellus.