section.c-section.c-price
  .container
    .row
      .col-md-6
        .c-price-header
          h3.c-section__title
            | E-postaları ve 
            br
            | toplantıları azaltın
          p.c-section__description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit In convallis
            br
            | eget lorem non pretium. Morbi condimentum maximus tellus.
        .c-testimonial__box
          ul.c-testimonial__box__list
            li.c-testimonial__box__list-item
              img.u-img-circle(src="assets/img/persons/person-1.jpg")
            li.c-testimonial__box__list-item
              img.u-img-circle(src="assets/img/persons/person-2.jpg")
            li.c-testimonial__box__list-item
              img.u-img-circle(src="assets/img/persons/person-3.jpg")
            li.c-testimonial__box__list-item
              img.u-img-circle(src="assets/img/persons/person-4.jpg")
          .c-testimonial__slider
            div.c-testimonial__slider__item.u-text-center
              p.c-testimonial__slider__item-description Lorem ipsum dolor sit amet, consectetur adipiscing elit in eget lorem non pretium. Morbi condimentum maximus.  
              b.c-testimonial__slider__item-meta Ferhat Incekara - Developer
            div.c-testimonial__slider__item.u-text-center
              p.c-testimonial__slider__item-description Lorem ipsum dolor sit amet, consectetur adipiscing elit in eget lorem non pretium. Morbi condimentum maximus.  
              b.c-testimonial__slider__item-meta Ferhat Incekara - Developer
            div.c-testimonial__slider__item.u-text-center
              p.c-testimonial__slider__item-description Lorem ipsum dolor sit amet, consectetur adipiscing elit in eget lorem non pretium. Morbi condimentum maximus.  
              b.c-testimonial__slider__item-meta Ferhat Incekara - Developer
            div.c-testimonial__slider__item.u-text-center
              p.c-testimonial__slider__item-description Lorem ipsum dolor sit amet, consectetur adipiscing elit in eget lorem non pretium. Morbi condimentum maximus.  
              b.c-testimonial__slider__item-meta Ferhat Incekara - Developer
      .col-md-5.offset-md-1
        .c-pricing__box
          ul.c-pricing__box__features
            li.c-pricing__box__features-list
              svg.icon.icon-link
                use(xlink:href='#icon-link')
              span Sınırsız Link
            li.c-pricing__box__features-list
              svg.icon.icon-users
                use(xlink:href='#icon-users')
              span Sınırsız Kullanıcı
            li.c-pricing__box__features-list
              svg.icon.icon-share
                use(xlink:href='#icon-share')
              span Sınırsız Paylaşım
            li.c-pricing__box__features-list.c-pricing__box__features-off
              svg.icon.icon-link
                use(xlink:href='#icon-price')
              span İlk 2 ay ücretsiz üyelik
          .c-pricing__box__cost
            span.c-pricing__box__cost-price 20 TL
            span.c-pricing__box__cost-type /mo
          .c-pricing__box__button
            a.c-button.c-button--outline(href="#") 2 Aylık Deneme Süresini Başlat
            span.c-pricing__box-info Kredi kartı gerektirmez.
