section.c-section.c-product
  .container
    .row
      .col-md-5.col-12.u-vertical-center
        h2.c-section__title E-postaları ve  toplantıları azaltın
        p.c-section__description
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis eget lorem non pretium. Morbi condimentum maximus tellus.
        p.c-section__button.u-top-large
          a.c-button.c-button--primary.c-button--large(href="#") Hemen Başla
      .col-md-7
        .c-product__mockup
          .c-product__mockup-screen(style="background-image: url(assets/img/macbook-screen.jpg)")