section.c-section.c-register
  .container
    .row
      .col-md-12.c-register__body
        .c-register__head
          h3.c-section__title Ücretsiz deneyin
          p.c-section__description FeedBack üyeliğiniz var mı? 
            a(href="#") Giriş yap
        .c-register__button
          a.c-button.c-button--white.c-button--large(href="#") Hemen Başla