section.c-section.c-specs
  .container
    .row.justify-content-center
      .col-md-10
        ul.c-specs__slider__list
          li.c-specs__slider__list-item
            img.c-specs__slider__list-icon(src="assets/img/icons/icon-talk.svg", width="87", height="70")
            span.c-specs__slider__list-title Düşüncenizi açıklayın
          li.c-specs__slider__list-item
            img.c-specs__slider__list-icon(src="assets/img/icons/icon-team.svg", width="71", height="66")
            span.c-specs__slider__list-title Tüm Ekibi Sürece Dahil Edin
          li.c-specs__slider__list-item
            img.c-specs__slider__list-icon(src="assets/img/icons/icon-version.svg", width="56", height="51")
            span.c-specs__slider__list-title Versiyon Arşivi
    .c-slider
      .c-slider__item
        .row
          .col-md-6
            img(src="assets/img/product-screen.svg", width="100%", height="auto", alt="Düşüncenizi açıklayın")
          .col-md-6
            h3.c-section__title Düşüncenizi açıklayın
            p.c-section__description - Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Proin pellentesque aliquet tellus, vitae tincidunt augue effici tura. Cras ut sem ipsum. Aliquam et scelerisque arcu. Cras vitae imperdiet turpis. Nullam sed enim maximus, efficitur ligula eget egestas dui. 
            p.c-section__description - Aenean sed eros ac ante auctor mollis quis euismod nisl. Cras rhoncus dui sit amet egestas fringilla. Suspendisse ut mi sed enim gravida commodo. Sed eu scelerisque justo. Nam tincidunt nibh eu libero lobortis, vitae placerat purus dignissim.
      .c-slider__item
        .row
          .col-md-6
            img(src="assets/img/product-screen.svg", width="100%", height="auto", alt="Tüm Ekibi Sürece Dahil Edin")
          .col-md-6
            h3.c-section__title Tüm Ekibi Sürece Dahil Edin
            p.c-section__description - Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Proin pellentesque aliquet tellus, vitae tincidunt augue effici tura. Cras ut sem ipsum. Aliquam et scelerisque arcu. Cras vitae imperdiet turpis. Nullam sed enim maximus, efficitur ligula eget egestas dui. 
            p.c-section__description- Aenean sed eros ac ante auctor mollis quis euismod nisl. Cras rhoncus dui sit amet egestas fringilla. Suspendisse ut mi sed enim gravida commodo. Sed eu scelerisque justo. Nam tincidunt nibh eu libero lobortis, vitae placerat purus dignissim.
      .c-slider__item
        .row
          .col-md-6
            img(src="assets/img/product-screen.svg", width="100%", height="auto", alt="Versiyon Arşivi")
          .col-md-6
            h3.c-section__title Versiyon Arşivi
            p.c-section__description - Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Proin pellentesque aliquet tellus, vitae tincidunt augue effici tura. Cras ut sem ipsum. Aliquam et scelerisque arcu. Cras vitae imperdiet turpis. Nullam sed enim maximus, efficitur ligula eget egestas dui. 
            p.c-section__description - Aenean sed eros ac ante auctor mollis quis euismod nisl. Cras rhoncus dui sit amet egestas fringilla. Suspendisse ut mi sed enim gravida commodo. Sed eu scelerisque justo. Nam tincidunt nibh eu libero lobortis, vitae placerat purus dignissim.
