section.c-section.c-timeline
  .container
    h3.c-section__title.u-text-center Taymlaynlardaki Mutluluk
    .row.u-top-large
      .col-md-6
        blockquote.twitter-tweet(data-lang='tr')
          p(lang='tr', dir='ltr')
            | vue js ile yazdığım Swarm daki son attığınız konumu google maps üzerinde gösterebilirsiniz.
            a(href='https://t.co/A8ZB24W5iS') https://t.co/A8ZB24W5iS
          | — Ferhat İncekara (@f3rh47_) 
          a(href='https://twitter.com/f3rh47_/status/1006501809358336001?ref_src=twsrc%5Etfw') 12 Haziran 2018
      .col-md-6
        blockquote.twitter-tweet(data-lang='tr')
          p(lang='tr', dir='ltr')
            | vue js ile yazdığım Swarm daki son attığınız konumu google maps üzerinde gösterebilirsiniz.
            a(href='https://t.co/A8ZB24W5iS') https://t.co/A8ZB24W5iS
          | — Ferhat İncekara (@f3rh47_) 
          a(href='https://twitter.com/f3rh47_/status/1006501809358336001?ref_src=twsrc%5Etfw') 12 Haziran 2018