extends layouts/layout

block content
  include components/mainHeader
  include components/companies
  include components/product
  include components/specs
  include components/price
  include components/timeline
  include components/register