footer.c-footer
  .container
    .row
      .col-md-12.u-text-center
        ul.c-footer__menu
          li.c-footer__menu-item
            a.c-footer__menu-link(href="#") Üye Ol
          li.c-footer__menu-item
            a.c-footer__menu-link(href="#") Giriş Yap
          li.c-footer__menu-item
            a.c-footer__menu-link(href="#") Fiyat Listesi
          li.c-footer__menu-item
            a.c-footer__menu-link(href="#") Ürün Özellikleri
        p.c-footer__info Yorum yada önerileriniz için 
          a(href="https://www.instagram.com/f3rh47/", target="_blank") @f3rh47
        ul.c-footer__social
          li.c-footer__social-item
            a(href="https://www.youtube.com/channel/UCfrO4EyEc3N5TaunnfX1uHQ/featured", target="_blank")
              svg.icon.icon-youtube
                use(xlink:href='#icon-youtube')
          li.c-footer__social-item
            a(href="https://twitter.com/f3rh47_", target="_blank")
              svg.icon.icon-twitter
                use(xlink:href='#icon-twitter')
          li.c-footer__social-item
            a(href="#", target="_blank")
              svg.icon.icon-facebook
                use(xlink:href='#icon-facebook')
          li.c-footer__social-item
            a(href="https://www.instagram.com/f3rh47/", target="_blank")
              svg.icon.icon-instagram
                use(xlink:href='#icon-instagram')