nav.c-navbar
  .container.c-navbar__container
    a.c-navbar__logo-link(href="#")
      img.c-navbar__logo-img(src="assets/img/FeedBack.svg", alt="FeedBack")
    .c-navbar__nav
      ul.c-navbar__menu
        li.c-navbar__menu-item
          a.c-navbar__menu-link(href="#", class="u-hidden@xs-down") Fiyat Listesi
        li.c-navbar__menu-item
          a.c-navbar__menu-link(href="#") Giriş Yap
      a.c-button.c-button--outline(href="#", class="u-hidden@xs-down") Hemen Ücretsiz Deneyin